@media screen and (max-width: 700px){
 header .container {
     display: flex;
     flex-direction: column;
     padding: 15px;
 }

 .button {
     margin-top: 5px;
     width: 300px;
     
 }

 header nav a {
     margin: auto;
 }
 .movie-top {
     background-size: contain ;
     background-repeat: no-repeat;
     padding: 0;
     
 }
}
@media screen and (min-width:1000px){
    .description {
        width: 50%;
    }
}